# Seguranca e Core
SECRET_KEY=sua-chave-secreta-de-producao-substitua-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,web
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Banco de Dados (PostgreSQL 16)
USE_SQLITE=False
POSTGRES_DB=erpangea_v2
POSTGRES_USER=pangea_user
POSTGRES_PASSWORD=pangea_secure_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_CONN_MAX_AGE=600

# Cache e Filas Assincronas (Redis 7 & Celery)
REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_WORKER_CONCURRENCY=4
CELERY_LOG_LEVEL=INFO
