{% extends 'principal/base.html' %}
{% load crispy_forms_tags %} ## Carregando a biblioteca
{% block content %}
<h1>Formulário de Nova Pessoa</h1>
<div class="top-buffer">
    <form action="." method="post">
        {% csrf_token %}
        {{ form.nome | as_crispy_field }}
        
        {{ form_telefone.management_form }}

        {% for ft in form_telefone %}
        
        <div class="inlineformTelefone">
            <hr>
            {{ ft | crispy }}
        </div>

        {% endfor %}
        
        {{ form_endereco.management_form }}

        {% for fe in form_endereco %}
        
        <div class="inlineformEndereco">
            <hr>
            {{ fe | crispy }}
        </div>

        {% endfor %}
        <div class="row">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-danger" href={% url 'pessoa.index' %}>Cancelar</a>
        </div>
    </form>

</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineformTelefone').formset({
            prefix: '{{ form_telefone.prefix }}',
            addText: '<i class="fas fa-plus"></i>',
            deleteText: '<i class="fas fa-trash"></i>',
        });
    })
    $(function() {
        $('.inlineformEndereco').formset({
            prefix: '{{ form_telefone.prefix }}',
            addText: '<i class="fas fa-house-user"></i>',
            deleteText: '<i class="fas fa-trash"></i>',
        });
    })
</script>
{% endblock scripts %}

