<div id="document-field-container">
    <label for="id_document" class="block text-sm font-medium text-gray-700">
        CPF ou CNPJ
    </label>
    <input type="text" name="document" id="id_document"
           value="{{ value|default:'' }}"
           placeholder="Apenas números ou formatado"
           hx-post="{% url 'format_document_hx' %}"
           hx-trigger="blur"
           hx-target="#document-field-container"
           hx-swap="outerHTML"
           hx-include="#id_person_type"
           class="mt-1 block w-full px-3 py-2 bg-white border {% if error_msg %}border-red-500{% else %}border-gray-300{% endif %} rounded-lg text-sm focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
    {% if error_msg %}
        <p class="mt-1 text-xs text-red-600 font-semibold">{{ error_msg }}</p>
    {% endif %}
</div>
